page-overview {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #7f7e7e;
    background-color: #ececec;

    .budget {
        .card-header {
            color: #388e3c;
            font-size: 1.5rem;
            font-weight: 600;
        }

        .amount-remaining {
            color: #00600f;
            font-size: 2.4rem;
            font-weight: 700;
        }
    }

    .good-status {
        background-color: #a5d6a7;
    }

    .caution-status {
        background-color: #FFB300;

        .amount-remaining, .card-header {
            color: #ececec;
        }
    }

    .danger-status {
        background-color: #c73e3e;

        .amount-remaining, .card-header {
            color: #ececec;
        }
    }

    .expenses-header {
        font-weight: 700;
        font-size: 2rem;
        text-align: left;
    }

    #income {
        background-color: #338a3e;
    }

    #budget {
        background-color: #66bb6a;
    }

    #spent {
        background-color: #FF7069;
    }

    .status-badge {
        padding: 0.5rem;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

        .badge-header {
            margin: 0.8rem;
            color: #ffffff;
            font-size: 1.6rem;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .badge-body {
            margin: 0.8rem;
            opacity: 0.4;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .expenses-container {
        padding-top: 3rem;
    }

    .add-expense-cta {
      padding-top: 3rem;
      margin: auto;
      .add-expense-button {
        padding: 0 7em;
      }
    }
}
