<ion-header>
  <ion-toolbar>
    <ion-title>
      {{id !== '' ? 'Edit' : 'Add'}} Expense
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="expenseForm" (ngSubmit)="submitForm()" class="form-container">
      <ion-item [class.invalid]="!expenseForm.controls.expenseName.valid && (expenseForm.controls.expenseName.dirty || submitAttempt)">
        <ion-label stacked>Name</ion-label>
        <ion-input autocomplete="true" formControlName="expenseName" type="text"></ion-input>
      </ion-item>
      <div class="error" *ngIf="!expenseForm.controls.expenseName.valid && (expenseForm.controls.expenseName.dirty || submitAttempt)">
        Name is required.
      </div>
      <ion-item [class.invalid]="!expenseForm.controls.expenseAmount.valid && (expenseForm.controls.expenseAmount.dirty || submitAttempt)">
        <ion-label stacked>Amount</ion-label>
        <ion-input formControlName="expenseAmount" type="tel" placeholder="$0.00" [brmasker]="{len:11, money: true, decimalCaracter: '.', thousand: ','}"></ion-input>
      </ion-item>
      <div class="error" *ngIf="!expenseForm.controls.expenseAmount.valid && (expenseForm.controls.expenseAmount.dirty || submitAttempt)">
        Amount is required.
      </div>
      <ion-item [class.invalid]="!expenseForm.controls.expenseCategory.valid && (expenseForm.controls.expenseCategory.dirty || submitAttempt)">
        <ion-label>Category</ion-label>
        <ion-select formControlName="expenseCategory">
          <ion-option *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="error" *ngIf="!expenseForm.controls.expenseCategory.valid && (expenseForm.controls.expenseCategory.dirty || submitAttempt)">
        Category is required.
      </div>
      <!-- <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="DDDD MMM D, YYYY" [(ngModel)]="selectedDate"></ion-datetime>
        </ion-item> -->
    </form>
  </ion-list>
  <div>
    <button *ngIf="id !== ''" class="remove-expense" ion-button color="danger" (click)="removeExpense()">Remove Expense</button>
    <button class="add-expense" ion-button (click)="addExpense()">{{id !== '' ? 'Edit' : 'Add'}} Expense</button>
  </div>
</ion-content>
