<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Expense
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <form [formGroup]="userForm" (ngSubmit)="submitForm()" class="form-container">
        <ion-item [class.invalid]="!userForm.controls.expenseName.valid && (userForm.controls.expenseName.dirty || submitAttempt)">
          <ion-label floating>Name</ion-label>
          <ion-input formControlName="expenseName" type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
        <div class="error" *ngIf="!userForm.controls.expenseName.valid && (userForm.controls.expenseName.dirty || submitAttempt)">
            Name is required.
          </div>
        <ion-item [class.invalid]="!userForm.controls.expenseAmount.valid && (userForm.controls.expenseAmount.dirty || submitAttempt)" >
          <ion-label floating>Amount</ion-label>
          <ion-input formControlName="expenseAmount" type="tel" [(ngModel)]="amount" [brmasker]="{len:11, money: true, type: 'num', decimalCaracter: '.', thousand: ','}"></ion-input>
        </ion-item>
        <div class="error" *ngIf="!userForm.controls.expenseAmount.valid && (userForm.controls.expenseAmount.dirty || submitAttempt)">
            Amount is required.
          </div>
          <ion-item [class.invalid]="!userForm.controls.expenseCategory.valid && (userForm.controls.expenseCategory.dirty || submitAttempt)">
              <ion-label>Category</ion-label>
              <ion-select formControlName="expenseCategory" [(ngModel)]="selectedCategory" [placeholder]="selectedCategory !== null ? selectedCategory.name : ''">
                <div *ngFor="let category of categories">
                  <ion-option [value]="category">{{category.name}}</ion-option>
                </div>
              </ion-select>
            </ion-item>
            <div class="error" *ngIf="!userForm.controls.expenseCategory.valid && (userForm.controls.expenseCategory.dirty || submitAttempt)">
                Category is required.
              </div>
        <!-- <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="DDDD MMM D, YYYY" [(ngModel)]="selectedDate"></ion-datetime>
        </ion-item> -->
      </form>
  </ion-list>
  <div>
    <button *ngIf="id !== ''" class="remove-expense" ion-button color="danger" (click)="removeExpense()">Remove Expense</button>
    <button class="add-expense" ion-button (click)="addExpense()">Add Expense</button>
  </div>
</ion-content>
