.get-started-container {
    width: 100%;
    height: 100vh;
    background: url("../assets/imgs/background.png");
    background-position: bottom center;
    background-size: cover;
    color: #f7f7f7;

    .header-logo {
        margin: 0 auto;
        display: block;
        width: 40%;
        padding-bottom: 6rem !important;
    }

    .create-budget {
        text-align: center;
        margin-bottom: 2rem;
    }

    .budget-length-title {
        margin-bottom: 2rem;
        font-size: 4vw;
        padding-top: 2rem;
        text-align: center;
    }

    .frequency-container {
        .segment-button {
            border-color: #193522;
            color: #f7f7f7;

            &.segment-activated {
                background-color: #193522;
                color: #f7f7f7;
            }
        }
    }

    .budget-amount-title {
        margin-bottom: 2rem;
        font-size: 4vw;
        padding-top: 5rem;
        text-align: center;
    }

    .budget-amount-input {
        color: #f7f7f7;
        border: 1px solid #193522;
        width: 50%;
        margin: 0 auto;
        border-radius: 6px;
    }

    .cta-button {
        display: block;
        margin: 17rem auto;
        padding: 0 27vw;
        font-size: 4vw;
    }

    .budget-inputs-outer-container {
        text-align: center;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-bottom: 16px;
    }

    .budget-inputs-inner-container {
        width: 90%;
        margin: 0 auto;
        }
        .invalid {
            border: 1px solid #ea6153;
        }
        .error {
            color: #ea6153;
        }
}


@media only screen and (min-width: 768px) {
    .get-started-container {    
        .header-logo {
            width: 12rem;
            padding-top: 1rem;
        }
    
        .create-budget {
            margin-bottom: 2rem;
            font-size: 3.6rem;
        }
    
        .budget-length-title {
            margin-bottom: 2rem;
            font-size: 3rem;
            padding-top: 2rem;
        }
    
        .frequency-container {
            .segment-button {
                height: 4rem;
                font-size: 2.5rem;
            }
        }

        .budget-amount-title {
            margin-bottom: 2rem;
            font-size: 3rem;
            padding-top: 5rem;
        }
    
        .budget-amount-input {
            width: 44rem;
            font-size: 2rem;
        }
    
        .cta-button {
            margin: 17rem auto;
            padding: 0 24rem;
            font-size: 2.5rem;
        }
    
        .budget-inputs-outer-container {
        width: 100%;
        padding-bottom: 16px;
        }
    
        .budget-inputs-inner-container {
            width: 80rem;
        }
    }
}