<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
 -->

<ion-content class="welcome-container" padding>
  <div class="title">
    It's time to <br> <span class="budget">CutBack</span> <br> to start <span class="easy">$aving</span> money.
  </div>

  <ion-spinner class="spinner" name="circles" *ngIf="loading"></ion-spinner>
  <div *ngIf="!loading" class="cta-button" (click)="navigateToSetup()">
    Get Started
  </div>
</ion-content>
