@mixin center($horizontal: true, $vertical: true) {
    position: absolute;

    @if $horizontal and $vertical {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if $horizontal {
        left: 50%;
        transform: translate(-50%, 0);
    }
    @else if $vertical {
        top: 50%;
        transform: translate(0, -50%);
    }
}

.header-logo {
    padding-top: 1rem;
    z-index: 10;
    width: 30vw;

    @include center(true, false);
}

.home-slide-container {
    color: #f7f7f7;
    position: relative;

    .slide-one {
        background: url("../assets/imgs/homepageImage_6-overlay.jpg");
        background-position: bottom center;
        background-size: cover;
    }

    .slide-two {
        background: url("../assets/imgs/homepageImage_7-overlay.jpg");
        background-position: bottom center;
        background-size: cover;
    }

    .slide-three {
        background: url("../assets/imgs/homepageImage_11-overlay.jpg");
        background-position: bottom center;
        background-size: cover;
    }

    .next-button {
        @include center(true, false);
        bottom: 4rem;
        padding: 0 2em;
    }

    .slide-text-container {
        width: 90%;
        text-align: center;
        margin: -16rem auto 0 auto;

        .slide-header {
            font-size: 9vw;
            font-weight: 800;
            padding-bottom: 3rem;
        }

        .slide-sub-text {}
    }

    .swiper-pagination-bullets {
        bottom: 12rem;
    }

    .swiper-pagination-bullet-active {
      background: #66bb6a;
  }
}

.spinner {
    display: flex;
    margin: auto;
    padding-top: 9rem;
    fill: #ffffff;
    width: 28px;
    height: 28px;
}

ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #ffffff;
    fill: #ffffff;
}

@media only screen and (min-width: 414px) {
    .header-logo {
        width: 12rem;
    }

    .home-slide-container {
        .slide-text-container {
            width: 34rem;

            .slide-header {
                font-size: 4rem;
                padding-bottom: 3rem;
            }

            .slide-sub-text {}
        }
    }
}
